/* AdminPage.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2, h3 {
  text-align: center;
}

input, textarea {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 300px;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  margin-left: 10px;
}

.MuiDialogTitle-root+.css-mq44jo-MuiDialogContent-root {
  padding-bottom: 0;
}